{% extends "base.html" %} {% block content %}

<!-- Introduction -->
<section class="introduction-section text-center py-5">
  <div class="container">
    <h1 class="introduction-heading">
      Where Horror <span class="introduction-heading-bold">Lives!</span>
    </h1>
    <p class="pt-4">
      If you're a fan of spine-chilling suspense, ghostly thrills, and
      unforgettable scares, you've just stumbled upon your new monthly
      obsession! Scream Screenings is the place where horror fans unite – and
      fear takes center stage.
    </p>

    <p class="pt-2">
      Every month, we host immersive horror movie screenings that will make you
      jump, scream, and maybe even sleep with the lights on. Whether you're a
      seasoned horror fan or just looking to test your bravery, we've got the
      perfect movie to get your heart racing.
    </p>

    <p class="pt-2">
      So, grab your popcorn, gather your bravest friends, and prepare for an
      unforgettable night of thrills, chills, and maybe a few creepy surprises.
      Ready to face your fears? Join us at our next screening...
      <span class="introduction-heading-bold">if you dare.</span>
    </p>

    <p class="introduction-heading-bold">See our up-coming scares!</p>
    <a href="{% url 'movies-list' %}" class="btn btn-red">Movies</a>
  </div>
</section>

<section class="map-section">
  <div class="map-text-container">
    <h2>Where you will find us!</h2>
    <p>
      Bulletproof Brewing Tap Haus is an independent brewery based in Plymouth,
      Devon. Their rustic taphouse is the location of our screenings. With a
      built in cinema screening room and a bar with homebrew ales and snacks on
      demand, it's the perfect place for us to call home!
    </p>
  </div>
  <div class="map-container">
    <iframe
      class="google-map"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d221.59300136016554!2d-4.134109214053882!3d50.383508902652466!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486ced17c6ae17ef%3A0xe531d61ea83e36d3!2sBulletproof%20Brewing%20Tap%20Haus!5e0!3m2!1sen!2suk!4v1738614279787!5m2!1sen!2suk"
      frameborder="0"
      style="border: 0"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    >
    </iframe>
  </div>
</section>

{% endblock %}
