{% extends "base.html" %} {% load static %} {% block content %}

<h1>{{ movie.title }}</h1>

<div class="movie-detail">
  <img
    src="{{ movie.poster.url }}"
    alt="{{ movie.title }} Poster"
    style="width: 300px; height: auto"
  />
  <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
  <p><strong>Director:</strong> {{ movie.director }}</p>
  <p><strong>Description:</strong> {{ movie.description }}</p>
</div>

<a href="{% url 'movies-list' %}">Back to Movie List</a>

{% endblock %}
